body {
	margin:0;
	padding:0;
	min-width:962px;

	font-family:"Cuprum",Arial,sans-serif;
	font-size:17px;
	line-height:calc(18px/17px);
	font-weight:400;
	color:#000000;
	
	background-color:#ffffff;
}

a {
  text-decoration:none;
}
.button {
	color:#ffffff;
	font-size:14px;
	line-height:calc(18px/14px);
	text-transform:uppercase;
	text-align:center;
	vertical-align:middle;
	
	background-color:#ee3643;
}
.visually-hidden {
	position:absolute;
	width:1px;
	height:1px;
	margin:-1px;
	border:0;
	padding:0;
	clip:rect(0 0 0 0);
	overflow:hidden;
}
.center-block {
	width: 962px;
	margin: 0 auto;
	padding: 0 12px;
}
											/*Стили хэдера*/
.main-header {
	background-color:#f3f7f8;
}

.header-head {
	min-height:42px;
	
	background-color:#293449;
}
.header-head-container {
	display:flex;
}

.logo {
	margin:0px;
	width:220px;
	height:47px;
	
	color: #ffffff;
	font-size:24px;
	line-height:calc(24px/24px);
	font-weight:400;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
	
	background-color:#ee3643;
	
	border-bottom:5px solid #b52933;
}
.logo-active:hover {
	background-color:#ca2c37;
	
	border-bottom:5px solid #9a212a;
}
.logo-active:focus {
	background-color:#ba2732;
	
	border-bottom:5px solid #8e1e26;
}
											/*Стили Формы поиска*/

.header-head form {
	box-sizing:border-box;
	
	
	
	margin-left:0px;
	margin-top:0px;
	margin-right:auto;
	margin-bottom:0px;
	
	padding:0px;
	
	background-color:red;
}										
.search-form {
	box-sizing:border-box;
	
	
	
	margin:0px;
	
	padding:14px;
	
	color:#ffffff;
	
	background-color:#293449;
	
	border:none;
}
.search-form:hover {
	background-color:#212a3a;
	
	border:none;
}
.search-form:focus {
	background-color:#ffffff;
	
	border:none;
}



										/*Стили Закладки корзина заказ*/
.site-progress {
	display:flex;
	
	margin-left:auto;
	margin-bottom:0px;
	margin-top:0px;
	margin-right:0px;
	
	padding:0px;
	background-color:red;
}
.site-progress li {
	
	
	margin:0px;
	
	padding:20px;
	
	background-color:yellow;
}
.site-progress a {
	display:block;
	
	
	
	
	
	color:#ffffff;
	
	margin:0px;
	
	padding:0px;
}
.site-progress,
.user-input {
	list-style:none;
}



.site-progress a:hover {
	background-color:#212a3a;
}
.site-progress a:hover path,
.site-progress a:hover circle {
	fill:#ffffff;
}

.site-progress a:focus {
	color:rgba(250, 250, 250, 0.6);
	
	background-color: #161d29;
}
.site-progress a:focus path,
.site-progress a:focus circle {
	fill:#8b8e94;
}

 .site-progress .order {
	background-color:#63a63e;
}
.site-progress .order:hover {
	background-color:#5fbb2d;
}

.site-progress .order:focus {
	background-color:#518534;
	
	color:rgba(250, 250, 250, 0.5);
}
											/*Стили середина хедера*/
.communications {
	display:flex;
}
											
.communications-present {
	flex-basis:200px;
	margin-left:52px;
	padding:0px;
	
	color:#ee3643;
	font-size:16px;
	line-height:calc(23px/16px);
	font-style:italic;
}
.communications-tel-adres {
	
}
.communications-tel {
	display:block;
	
	box-sizing:border-box;
	
	padding-left:74px;
	padding-top:13px;
	padding-right:52px;
	padding-bottom:13px;
	
	color:#e9292a;
	font-size:21px;
	line-height:calc(21px/21px);
	
	background-image:url("../img/svg-technomart/icon-phone.svg");
	background-repeat:no-repeat;
	background-position:center;
	
	border:3px solid #ffffff;
}

.communications-adres {
	width:258px;
	
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	
	padding:0px;
	
	color:#32425c;
	font-size:14px;
	line-height:calc(24px/14px);
	
	background-color:red;
}
.user-input {
	display:flex;
	
	margin-left:auto;
}
.user-input a{
	box-sizing:border-box;
	
	display:block;
	
	width:121px;
	
	
	color:#000000;
	font-size:21px;
	line-height:calc(21px/21px);
	background-color:#ffffff;
}

.user-input a:hover {
	color:#ee3643;
}
.user-input a:hover path {
	fill:#32425c;
}
.user-input a:focus {
	color:rgba(0, 0, 0, 0.3);
}
.user-input a:focus path {
	fill:#c5c5c5;
}

												/*Стили навигации хедера*/
.main-navigation {
	margin:0px;
	
	padding:0px;
	
	background-color:#32425c;
	
	border-bottom:5px solid #293449;
}
.site-navigation {
	display:flex;
	
	justify-content:center;
	
	list-style: none;
}
.site-navigation a {
	color:#ffffff;
	font-size:17px;
	line-height:calc(17px/17px);
}
.site-navigation a:hover {
	background-color:#293449;
}
.site-navigation a:focus {
	color:rgba(250, 250, 250, 0.5);
	
	background-color:#293449;	
}
										/*Cтили хедера каталога*/
.communications-name-exit {
	background-color:#ffffff;
}
.communications-name-exit a {
	color:#000000;
	font-size:21px;
	line-height:calc(21px/21px);
}
.communications-name-exit a:hover {
	color:#000000;
}
.communications-name-exit a:hover path {
	fill:#32425c;
}
.communications-name-exit a:focus {
	color:rgba(0, 0, 0, 0.3);
}
.communications-name-exit a:focus path {
	fill:#c5c5c5;
}
.communications-id-list {
	list-style:none;
}
.communications-id-list a {
	color:#32425c;
	font-size:16px;
	line-height:calc(18px/16px);
	text-decoration:underline;
}
.communications-id-list a:hover {
	color:#ee3643;
}
.communications-id-list a:focus {
	color:rgba(0, 0, 0, 0.3);
}
.communications-id-list-orders::after {
	content:"";
	display:block;
	
	width:5px;
	height:5px;
	
	background-color:#32425c;

	border-radius:50%;
}

													/*Стили майна главной*/
.range {
	display:flex;
	
	list-style:none;
}
.range li {
	
}
.range h3 {
	color:#ffffff;
	font-size:24px;
	line-height:calc(30px/24px);
	font-weight:700;
}
.range a {
	color:#ffffff;
	font-size:14px;
	line-height:calc(18px/14px);
	text-transform:uppercase;
	text-decoration:none;
	
	background-color:#e5e5e5;
}
.range a:hover {
	background-color:#cccccc;
}
.range a:focus {
	background-color:#b2b2b2;
}

.range-materials {
	display:block;
	
	width:300px;
	height:123px;
	
	background-color:#ffbf47;
	background-image:url("../img/svg-technomart/icon-1.svg");
	background-repeat:no-repeat;
	background-position:right;
}

.range-tool {
	width:300px;
	height:123px;
	
	background-color:#3bbce3;
	background-image:url("../img/svg-technomart/icon-2.svg");
	background-repeat:no-repeat;
	background-position:right;
}
.range-equipment {
	width:300px;
	height:123px;
	
	background-color:#dc91d8;
	background-image:url("../img/svg-technomart/icon-3.svg");
	background-repeat:no-repeat;
	background-position:right;
}
.range-discounts {
	width:300px;
	height:123px;
	
	background-color:#8ed78f;
	background-image:url("../img/svg-technomart/icon-4.svg");
	background-repeat:no-repeat;
	background-position:right;
}
.range-delivery {
	width:300px;
	height:123px;
	
	background-color:#ffc047;
	background-image:url("../img/svg-technomart/icon-5.svg");
	background-repeat:no-repeat;
	background-position:right;
}
.slider1,
.slider2 {
	background-color:#000000;
}
.slider1 {
	background-image:url("../img/man1.jpg");
	background-repeat:no-repeat;
	background-position:center;
}
.slider2 {
	background-image:url("../img/man2.jpg");
	background-repeat:no-repeat;
	background-position:center;
}
.slider h3 {
	color:#ffffff;
	font-size:36px;
	line-height:calc(36px/36px);
	text-transform:uppercase;
	font-weight: 700;
}
.slider p {
	color:#ffffff;
	font-size:18px;
	line-height:calc(24px/18px);
}
.slider button {
	border:none;
}
.slider .button-backward {
	background-image:url("../img/svg-technomart/icon-left.svg");
}
.slider .button-forward {
	background-image:url("../img/svg-technomart/icon-right.svg");
}
												
									
									
									
									/*Стили блока популярных товаров*/
.popproduct-block-caption {
	display:flex;
	
	justify-content:space-between;
	
	background:#f9f5f0;
}
.caption2 {
	color:#32425c;
	font-size:30px;
	line-height:calc(30px/30px);
	text-transform:uppercase;
}
.popproduct-list {
	display:flex;
	
	justify-content:space-between;
	
	margin:0px;
	
	padding:0px;
	
	list-style:none;
}
.popproduct-list li{
	flex-basis:200px;
	
	border:1px solid #eaeaea;
}
.popproduct-list h3 {
	font-family:"PT Sans",Arial,sans-serif;
	font-weight:700;
	color:#000000;
	font-size:18px;
	line-height:calc(20px/18px);
}
.popproduct-list b {
	font-family:"PT Sans",Arial,sans-serif;
	font-weight:700;
	color:#a9a9a9;
	font-size:17px;
	line-height:calc(18px/17px);
	text-decoration:line-through;
}
.price {
	font-family:"PT Sans",Arial,sans-serif;
	font-weight:700;
	color:#ffffff;
	font-size:17px;
	line-height:calc(18px/17px);
	
	background-color:#ee3643;
}
.purchase-block a {
	font-weight:400;
	font-size:14px;
	line-height:calc(18px/14px);
}
.purchase {
	color:#ffffff;
	
	background-color:#63a63e;

	border-bottom:3px solid #367315;
}
.purchase:hover {
	color:#ffffff;
	
	background-color:#5fbb2d;
	
	border-bottom:3px solid #367315;
}
.purchase:focus {
	color:#ffffff;
	
	background-color:#518534;
	
	border-bottom:3px solid #518534;
}
.bookmarks {
	color:#32425c;
	
	background-color:#ffffff;

	border:3px solid #63a63e;
}
.bookmarks:hover {
	color:#32425c;
	
	border:3px solid #32425c;
}
.bookmarks:focus {
	color:rgba(50,66,92,0.3);
	
	border:3px solid #c1c6ce;
}

							/*Стили блока поулярных производителей*/
.popmanufacturers-block-caption {
	display:flex;
	justify-content:space-between;
	
	padding:24px;
	
	background-color: #f9f5f0;
}
.popmanufacturers-list {
	list-style: none;
	
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	
	margin:0px;
	padding:0px;
}
.popmanufacturers-list li {
	display:flex;
	justify-content:center;
	align-items:center;
	flex-basis:200px;
	
	min-height:145px;
	
	background-color: #ffffff;
	
	border:1px solid #ebebeb;
}
.popmanufacturers-list a:hover {
	
}
.popmanufacturers-list a:focus {
	opacity:0.3;
}
									/*Стили сервисов*/
.services {
	background-color:#f4f8fa;
}
.services h2 {
	color:#000000;
	font-size:30px;
	line-height:calc(30px/30px);
	text-transform:uppercase;
}
.services p {
	font-family:'PT Sans',Arial,sans-serif;
	font-weight:400;
	color:#000000;
	font-size:13px;
	line-height:calc(24px/13px);
}
.services-list {
	list-style:none;
}
.services-list a {
	background-color:#32425c;
	
	font-weight:700;
	color:#ffffff;
	font-size:21px;
	line-height:calc(30px/21px);
}
.services-list a:hover {
	background-color:#293449;
}
.services-list a:focus {
	background-color:#ffffff;
	
	color:#32425c;
}
.services h3 {
	color:#32425c;
	font-size:36px;
	line-height:calc(36px/36px);
	text-transform:uppercase;
	font-weight:400;
}
.services-delivery {
	background-image:url("../img/track.png");
	background-repeat:no-repeat;
	background-position:right;
}
.services-guarantee {
	background-image:url("../img/medal.png");
	background-repeat:no-repeat;
	background-position:right;
}
.services-credit {
	background-image:url("../img/kredit.png");
	background-repeat:no-repeat;
	background-position:right;
}
												/*Стили блоков о компании и контактах*/
.basic-info h2,
.contacts h2 {
	color:#000000;
	font-size:30px;
	line-height:calc(30px/30px);
	text-transform:uppercase;
	font-weight:400;
}
.basic-info p,
.contacts p {
	font-family:"PT Sans",Arial,sans-serif;
	font-weight:400;
	color:#000000;
	font-size:13px;
	line-height:calc(24px/13px);
	
}
.transport-companies {
	list-style:none;
}

.transport-companies {
	font-weight:400;
	color:#000000;
	font-size:18px;
	line-height:calc(20px/18px);
}
									/*Стили майна каталога*/
.breadcrumbs {
	list-style:none;
}									
.breadcrumbs a {
	font-family:"PT Sans",Arial,sans-serif;
	font-weight:400;
	color:#000000;
	font-size:13px;
	line-height:calc(18px/13px);
}									
.container-catalog h2 {
	background-color:#f2f6f8;
}
.filter h3 {
	background-color:#f7f3ec;
	
	font-family:"PT Sans",Arial,sans-serif;
	font-weight:400;
	color:#000000;
	font-size:13px;
	line-height:calc(18px/13px);
	text-transform:uppercase;
}								
.price-form,
.power-form {
	border:none;
}
.price-form input {
	text-align:center;
	vertical-align:middle;
	font-family:"PT Sans",Arial,sans-serif;
	font-weight:400;
	color:#000000;
	font-size:17px;
	line-height:calc(18px/17px);
	text-transform:uppercase;
	
	background-color:#f7f3ec;
	
	border:none;
}
.manufacturers-form {
	border-left:none;
	border-right:none;
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
}									
.filter-form legend {
	font-family:"PT Sans",Arial,sans-serif;
	font-weight:700;
	color:#000000;
	font-size:17px;
	line-height:calc(30px/17px);
	text-transform:uppercase;
}

.power-form-list ,
.manufacturers-form-list {
	list-style:none;
}	
.power-form-list label,
.manufacturers-form-list label {
	font-family:"PT Sans",Arial,sans-serif;
	font-weight:400;
	color:#000000;
	font-size:15px;
	line-height:calc(20px/15px);
	text-transform:uppercase;
}
.power-form-list label:disabled,
.manufacturers-form-list label:disabled {
	color:rgba(0,0,0,0.4);
}
.filter-form-button {
	font-family:"PT Sans",Arial,sans-serif;
	font-weight: 400;
	color:#000000;
	font-size:13px;
	line-height:calc(18px/13px);
	text-transform:uppercase;
	
	background-color: #ffffff;
	
	border:1px solid #e5e5e5;
}	
.sorting-navigation {
	background-color: #f7f3ec;
}
.sorting-navigation h3 {
	font-family:"PT Sans",Arial,sans-serif;
	font-weight:400;
	color:#000000;
	font-size:13px;
	line-height:calc(18px/13px);
	text-transform:uppercase;
}	
.sorting-navigation-list,
.sorting-navigation-up-down {
	list-style:none;
}
.sorting-navigation-list a {
	font-family:"PT Sans",Arial,sans-serif;
	font-weight:400;
	color:rgba(0, 0, 0, 0.3);
	font-size:13px;
	line-height:calc(18px/13px);
	text-transform:uppercase;
	
	border-bottom:1px dotted #ee3643;
}
.sorting-navigation-list a:hover {
	color:#000000;
	border-bottom:1px solid #ee3643;
}
.sorting-navigation-list a:focus {
	color:#ee3643;
	border-bottom:none;
}
.sorting-navigation-up:hover path,
.sorting-navigation-down:hover path {
	fill:#231f20;
}
.sorting-navigation-up:focus path,
.sorting-navigation-down:focus path {
	fill:#ee3643;
}
.pagination-list {
	list-style:none;
}	
.pagination-item a {
	font-family:"PT Sans",Arial,sans-serif;
	font-weight:400;
	color:#000000;
	font-size:13px;
	line-height:calc(18px/13px);
	
	border:1px solid #e5e5e5;
}	
.pagination-item a:hover {
	border:1px solid #bdc6ca;
}
.pagination-item a:focus {
	border:1px solid #ee3643;
}												
.pagination-item-current a {
	color:#ffffff;
	border:none;
	background-color:#ee3643;
}
.about-punchers {
	background-color:#f2f6f8;
}
.about-punchers p {
	font-family:"PT Sans",Arial,sans-serif;
	font-weight:400;
	color:#000000;
	font-size:13px;
	line-height:calc(24px/13px);
}

												/*Стили футера*/
.footer-up {
	background-color:#32425c;
	}

.footer-site-navigation,
.footer-content-navigation {
	list-style:none;
}

.footer-site-navigation a {
	font-weight:400;
	color:#f3f7f9;
	font-size:18px;
	line-height:calc(24px/13px);
}
.footer-site-navigation a:hover {
	color:#f3f7f9;
	text-decoration:underline;
}
.footer-site-navigation a:focus {
	color:#9ea5af;
	text-decoration:none;
}
.footer-up p,
.footer-tel {
	font-weight:400;
	color:#f3f7f9;
	font-size:18px;
	line-height:calc(24px/18px);
}

.footer-content-navigation a {
	font-weight:400;
	color:#ffd180;
	font-size:18px;
	line-height:calc(24px/18px);
}
.footer-content-navigation a:hover {
	text-decoration:underline;
	
}
.footer-content-navigation a:focus {
	text-decoration:none;
	color:#a6906e;
}
.footer-down {
	background:#293449;
}
.footer-copyright-company {
	color:#ffffff;
	font-weight:400;
	font-size:16px;
	line-height:calc(18px/16px);
}
.footer-social {
	list-style:none;
}
.footer-social li {
	background-color:#212a3a;
}
.footer-social a:hover,
.footer-social a:focus {
	background-color:#ee3643;
}
.footer-communications b,
.footer-copyright b {
	color:#ffffff;
	font-weight: 400;
	font-size:16px;
	line-height:calc(18px/16px);
}
.footer-communications a,
.footer-copyright a {
	color:#e0b976;
	font-weight:400;
	font-size:16px;
	line-height:calc(18px/16px);
}
.footer-communications a:hover,
.footer-copyright a:hover {
	color:#e0b976;
	text-decoration:underline;
}
.footer-communications a:focus,
.footer-copyright a:focus {
	color:#e53643;
	text-decoration:none;
}
											/*Стили формы записи*/
.write-popap {
	border-top:7px solid #ff5257;
	
	background-color:#ffffff;
}
.write-bottom-block {
	background-color:#f4f4f4;
}
.write-popap label {
	color:#000000;
	font-weight:400;
	font-size:18px;
	line-height:calc(18px/18px);
}
.write-popap input,
.write-popap textarea {
	border:2px solid #dee3e4;
}
												/*Стили формы добавления в корзину*/
.added-to-cart {
	background-color:#ffffff;
	background-image:url("../img/svg-technomart/icon-mark.svg");
	background-repeat:no-repeat;
	background-position:center;
	
	border-top:7px solid #ee3643;
}
.added-to-cart h2 {
	color:#000000;
	font-weight:400;
	font-size:30px;
	line-height:calc(30px/30px);
}
.added-to-cart-close {
	background-color:#ffffff;
	background-image:url("../img/svg-technomart/icon-close.svg");
	
	border:none;
}	
.added-to-cart-buttons {
	background-color:#f1f1f1;
}
.added-to-cart-buttons button {
	color:#000000;
	font-weight:400;
	font-size:14px;
	line-height:calc(18px/14px);
	text-transform:uppercase;
	
	background-color:#ffffff;
	
	border:none;
}									
								/*Стили большой карты*/							
.big-map button {
	background-color:transparent;
	background-image:url("../img/svg-technomart/icon-close.svg");
	
	border:none;
}											